<h1 class = "ff-pacifico">Editar Producto</h1>
<div class="container">
  <div class="row">
    <form  class="formulario" id="formulario">
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="Foto">Foto:</label>
        <input type="text" class="form-control field" id="foto" name="foto" required>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="pwd">Nombre:</label>
        <input type="text" class="form-control field" id="nombre" name="nombre" required>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="descripcion">Descripción:</label>
        <input type="text" class="form-control field" id="descripcion" name="descripcion" required>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="categoria">Categoria:</label>
        <input type="text" class="form-control field" id="categoria" name="categoria" required>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="precio">Precio</label>
        <input type="text" class="form-control field" id="precio" name="precio" required>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="vendido">Vendido:</label>
        <input type="text" class="form-control field" id="vendido" name="vendido" required>
      </div>
      <button type="submit" class="btn btn-primary" id="btn_edit_enviar">Enviar</button>
      <%= link_to 'Regresar', products_path, class:"btn btn-primary" %>
    </form>
    
  </div>
</div>


<script type="text/javascript">

  function buscarID(){
    var pathname = window.location.pathname;
    console.log(pathname);
    var vars = pathname.split("/");
    console.log(vars[2]);
    return vars[2];
  };

  function Get_product(id){
	
	$.ajax({
		url: 'http://localhost:5000/listar/'+id,
		contentType: 'application/json',
		crossDomain : "true",
		async: false, 
		type : 'GET',
		success: function(response) {
			data=JSON.parse(response)
			if (data.error==true) {
				console.log("error");
			}
			else{
				console.log(response);
			 	console.log(data);   // (o el campo que necesites)	
			 	aplicar(data);			}


		},
		error: function(error) {}
	});
};

function aplicar(producto){
    $("#foto").val(producto.foto);
    $("#nombre").val(producto.nombre);
    $("#descripcion").val(producto.descripcion);
    $("#categoria").val(producto.categoria);
    $("#precio").val(producto.precio);
    $("#vendido").val(producto.vendido);
  };

  $(document).ready(function() {
    var ID = buscarID();
    Get_product(ID);
    $("#btn_edit_enviar").click(function(){
  		Editar_product(ID);
	});


  }); 
</script>