<p id="notice"><%= notice %></p>

<h1 class = "ff-pacifico">Los mejores productos</h1>

<div class="container">
  <div class="row">
    <div class="form-group">
      <label>Ordenar por categoria</label>
      <select onclick="ordenar()" class="form-control">
        <option value="todo">Todos los productos</option>
        <option value="Camisas">Camisas</option>
        <option value="Pantalones">Pantalones</option>
        <option value="Zapatos">Zapatos</option>
        <option value="Gorras">Gorras</option>
      </select>
    </div>   
  </div>
  <div class="row feed">
  </div>
  <% if user_signed_in? %>
    <% if current_user.username == 'admin' %>
      <%= link_to 'Agregar producto', new_product_path, class:"btn btn-primary"%>
    <% end %>
  <% end %>  
</div>

<script type="text/javascript">
function listar(productos) {  
  var tam = productos.length ;
      for (i = 0; i < tam; i++) {
          var fila = $('<div/>', {
          'class' : 'col-sm-6 col-md-6 col-lg-4 caja',
          'id'    : 'Fila_' + i
        });

          $(".feed").append(fila);

          var panelTotal = $('<div/>', {
          'class' : 'panel panel-default panelProduct',
          'id'    : 'panel-id_' + i
        });

            $("#Fila_"+i).append(panelTotal);

            var panelHead = $('<div/>', {
            'class' : 'panel-heading',
            'id'    : 'panelhead-id_' + i
        });
            var panelbody = $('<div/>', {
            'class' : 'panel-body',
            'id'    : 'panelbody-id_' + i
        });
            var panelfooter = $('<div/>', {
            'class' : 'panel-footer',
            'id'    : 'panelfooter-id_' + i
        });

        $("#panel-id_"+i).append(panelHead);
        $("#panel-id_"+i).append(panelbody);
        $("#panel-id_"+i).append(panelfooter);

            panelHead = $("<h4></h4>").text(productos[i].nombre);
            $("#panelhead-id_"+i).append(panelHead);
            
            // agregar imagen al panel body
            panelbody = $('<img/>', {
            'class' : 'image',
            'id'    : 'image_' + i,
            'src'   : productos[i].foto
        });
            $("#panelbody-id_"+i).append(panelbody);

            var precio = $("<p></p>").text("Precio: "+productos[i].precio+"BsF");
            $("#panelfooter-id_"+i).append(precio);

            panelfooter = $('<a/>', {
            'href'    : '/products/' + productos[i].id
        });
        panelfooter.text("Ver mas");
            $("#panelfooter-id_"+i).append(panelfooter);
      } 
};

  function Mostrar_Categoria(productos) {  
    var tam = productos.length ;

    var categoria = $("select").val();
    for (i = 0; i < tam; i++) {
      if (productos[i].categoria==categoria) {
        var fila = $('<div/>', {
          'class' : 'col-sm-6 col-md-6 col-lg-4 caja',
          'id'    : 'Fila_' + i
        });

          $(".feed").append(fila);

          var panelTotal = $('<div/>', {
          'class' : 'panel panel-default panelProduct',
          'id'    : 'panel-id_' + i
        });

            $("#Fila_"+i).append(panelTotal);

            var panelHead = $('<div/>', {
            'class' : 'panel-heading',
            'id'    : 'panelhead-id_' + i
        });
            var panelbody = $('<div/>', {
            'class' : 'panel-body',
            'id'    : 'panelbody-id_' + i
        });
            var panelfooter = $('<div/>', {
            'class' : 'panel-footer',
            'id'    : 'panelfooter-id_' + i
        });

        $("#panel-id_"+i).append(panelHead);
        $("#panel-id_"+i).append(panelbody);
        $("#panel-id_"+i).append(panelfooter);

            panelHead = $("<h4></h4>").text(productos[i].nombre);
            $("#panelhead-id_"+i).append(panelHead);
            
            // agregar imagen al panel body
            panelbody = $('<img/>', {
            'class' : 'image',
            'id'    : 'image_' + i,
            'src'   : productos[i].foto
        });
            $("#panelbody-id_"+i).append(panelbody);

            var precio = $("<p></p>").text("Precio: "+productos[i].precio+"BsF");
            $("#panelfooter-id_"+i).append(precio);

            panelfooter = $('<a/>', {
            'href'    : '/products/' + productos[i].id
        });
        panelfooter.text("Ver mas");
            $("#panelfooter-id_"+i).append(panelfooter);
      }
    }

  };

  function ordenar() {  
    var categoria = $("select").val();
    if (categoria=="todo") {
      $(".feed").find(".panelProduct").remove();
      $(".feed").find(".caja").remove();
      Get_all_products();
    }
    else{
      $(".feed").find(".panelProduct").remove();
      $(".feed").find(".caja").remove();
      Get_all_products_categoria();
    }
    
  };

  $(document).ready(function() {
  Get_all_products();


}); 
</script>