<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1 class="titulo"></h1>
  </div>
  <div class="row">
    <img src="" class="imagen">   
  </div>
  <div class="row">
    <p class="descripcion"></p>  
  </div>
  <div class="row">
  <p class="precio"></p> 
  </div>
  <div class="row">
  <p class="vendido"></p> 
  </div>
    <button class="btn btn-default" onclick="Add_to_cart()"> Agregar a carrito</button> 
    <button class="btn btn-default"><%= link_to 'Editar', edit_product_path %></button> 
    <button class="btn btn-default"><%= link_to 'Regresar', products_path %></button> 
    <button class="btn btn-default" onclick="Delete_product(buscarID())"><%= link_to 'Borrar', products_path %></button> 
</div>


<script type="text/javascript">
  function mostrar(producto) {  

        $(".titulo").text(producto.nombre); 
        $(".titulo").attr('id',producto.id);  
        $(".imagen").attr('src',producto.foto);
        $(".descripcion").text(producto.descripcion);
        $(".precio").text(producto.precio);
        $(".vendido").text(producto.vendido);


  };
  function buscarID(){
    var pathname = window.location.pathname;
    console.log(pathname);
    var vars = pathname.split("/");
    console.log(vars[2]);
    return vars[2];
  };
  $(document).ready(function() {
    var ID = buscarID();
    Get_product(ID);


  }); 
</script>