<p id="notice"><%= notice %></p>
<h1 class="titulo ff-pacifico"></h1>
<div class="container">
  <div class = "formulario">
    <div class="row">
      <label>Foto:</label><br>
      <img src="" class="imagen">   
    </div>
    <div class="row">
      <label>Descripción:</label>
      <p class="descripcion"></p>  
    </div>
    <div class="row">
    <label>Precio:</label>
    <p class="precio"></p> 
    </div>
    <div class="row">
    <label>Vendido:</label>
    <p class="vendido"></p> 
    </div>
    <div class ="row">
      <%= link_to 'Editar', edit_product_path, class:"btn btn-primary"%>
      <%= link_to 'Regresar', products_path, class:"btn btn-primary" %> 
    </div>
  </div> 
</div>


<script type="text/javascript">
  function mostrar(producto) {  

        $(".titulo").text(producto.nombre);  
        $(".imagen").attr('src',producto.foto);
        $(".descripcion").text(producto.descripcion);
        $(".precio").text(producto.precio);
        $(".vendido").text(producto.vendido);


  };
  function buscarID(){
    var pathname = window.location.pathname;
    console.log(pathname);
    var vars = pathname.split("/");
    console.log(vars[2]);
    return vars[2];
  };
  $(document).ready(function() {
    var ID = buscarID();
    Get_product(ID);


  }); 
</script>