<p id="notice"><%= notice %></p>

<table class="table table-border">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Categoria</th>
      <th>Precio</th>
      <th>Vendido</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody class="cuerpo">

  </tbody>
</table>

<%= link_to 'Edit', ) %> |
<%= link_to 'Back', products_path %>

<script type="text/javascript">
function mostrar(producto) {  

      $(".cuerpo").append("<tr>"); 
      var txt2 = $("<td></td>").text(producto.nombre);  
      $(".cuerpo").append(txt2);
      var txt2 = $("<td></td>").text(producto.precio);
      $(".cuerpo").append(txt2);
      var txt2 = $("<td></td>").text(producto.foto);
      $(".cuerpo").append(txt2);
      var txt2 = $("<td></td>").text(producto.categoria);
      $(".cuerpo").append(txt2);
      var txt2 = $("<td></td>").text(producto.descripcion);
      $(".cuerpo").append(txt2);
      var txt2 = $("<td></td>").text(producto.vendido);
      $(".cuerpo").append(txt2);
      $(".cuerpo").append("<tr>"); 

};
  $(document).ready(function() {
  mostrar(Get_product(1));
}); 
</script>