<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>REGISTRO</h1>
	<form action="registro" id="register" name="register" method="POST">
		<input type="text" name="username" placeholder="usuario">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="contrasena">
		<input type="text" name="name" placeholder="nombre">
		<input type="text" name="lastname" placeholder="apellido">
		<button type="submit">Registrarse</button>
	</form>
</body>
</html>